<div class="jumbotron center">
	<h1>Underground 305</h1>
  <p>Find out more <%= link_to "here", about_path %>.</p>
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
